<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Why No Eggs</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
			<!-- <img class="img-responsive" src="http://placehold.it/1200x300"> -->
        </div>
		

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-12">
            <h2 class="page-header">Why No Eggs</h2>
			<iframe width="100%" height="500" src="https://www.youtube.com/embed/JJ--faib7to" frameborder="0" allowfullscreen></iframe>
			<p class="lead">Every time you buy a carton of eggs, whether they are conventional, organic, free-range, cage-free, certified humanely raised, etc., you are in effect paying for the murder of hundreds of millions of baby animals.</p>
			<p class="lead">When you eat an egg you are supporting the murder of hundreds of millions of male chicks every year (200,000,000 – two-hundred million in the United States alone).  They are killed by the hundreds of thousands every day by being thrown in a dumpster and left to die, tossed in garbage bags and suffocated, or more commonly, by being ground up alive in meat grinders.
			Boy chickens simply will not grow as big or as fast as female chickens.  They also are not able to produce eggs so they cut their losses early and “humanely euthanize” (aka grind up) baby chicks on the first day of their life.</p>
        </div>

    </div>
    
</div>
<!-- /.container -->
