<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Why No Leather & Fur</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
			<!-- <img class="img-responsive" src="http://placehold.it/1200x300"> -->
        </div>
		

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-12">
            <h2 class="page-header">Why No Leather & Fur</h2>
			<iframe width="100%" height="500" src="https://www.youtube.com/embed/ldr0-jMCznM" frameborder="0" allowfullscreen></iframe>
            <p class="lead">Leather can be made from cows, pigs, goats, and sheep; exotic animals such as alligators, ostriches, and kangaroos; and even dogs and cats, who are slaughtered for their meat and skin in China, which exports their skins around the world. Because leather is normally not labeled, you never really know where (or whom) it came from. </p>
			<p class="lead">Most leather comes from developing countries such as India and China, where animal welfare laws are either non-existent or not enforced.
			In India, a PETA investigation found that workers break cows’ tails and rub chili peppers and tobacco into their eyes in order to force them to get up and walk after they collapse from exhaustion on the way to the slaughterhouse. </p>
			<p class="lead">In the U.S., many of the millions of cows and other animals who are killed for their skin endure the horrors of factory farming—extreme crowding and deprivation as well as castration, branding, tail-docking, and dehorning—all without any painkillers. At slaughterhouses, animals routinely have their throats cut and some are even skinned and dismembered while they are still conscious.</p>
			<p class="lead">Buying leather directly contributes to factory farms and slaughterhouses because skin is the most economically important byproduct of the meat industry. Leather is also no friend of the environment, as it shares responsibility for all the environmental destruction caused by the meat industry as well as the pollution caused by the toxins used in tanning.</p>
			<p class="lead">With every pair of leather shoes that you buy, you sentence an animal to a lifetime of suffering. Instead, you can choose from hundreds of styles of nonleather shoes, clothing, belts, bags, and wallets. Check out PETA’s cruelty-free clothing guide for great tips on where to find fashionable yet compassionate clothing. Fashion should be fun, not fatal!</p>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
