<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">STUDIOS</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
			<img class="img-responsive" src="images/5.jpg">
        </div>
		

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-12">
            <h2 class="page-header">Movie STUDIOS</h2>
			<p>
				<ul>
				<li><a href="http://www.universalstudios.com/" target="_blank">STUDIO 1</a></li>
				<li><a href="http://www.mr-productions.org/" target="_blank">STUDIO 2</a></li>
				<li><a href="http://www.24fproduction.com/" target="_blank">STUDIO3</a></li>
				</ul>
				In 1893, Thomas Edison built the first movie studio in the United States when he constructed the Black Maria, a tarpaper-covered structure near his laboratories in West Orange, New Jersey, and asked circus, vaudeville, and dramatic actors to perform for the camera. He distributed these movies at vaudeville theaters, penny arcades, wax museums, and fairgrounds. The pioneering Thanhouser film studio was founded in New Rochelle, New York in 1909 by American theatrical impresario Edwin Thanhouser. The company produced and released 1,086 films between 1910 and 1917, successfully distributing them around the world. The first film serial ever, Million Dollar Mystery, was released by the Thanhouser company in 1914.
				In the early 1900s, companies started moving to Los Angeles, California. Although electric lights were by then widely available, none were yet powerful enough to adequately expose film; the best source of illumination for motion picture production was natural sunlight. Some movies were shot on the roofs of buildings in Downtown Los Angeles. Early movie producers also relocated to Southern California to escape Edison's Motion Picture Patents Company, which controlled almost all the patents relevant to movie production at the time.
				The first movie studio in the Hollywood area was Nestor Studios, opened in 1911 by Al Christie for David Horsley. In the same year, another 15 independents settled in Hollywood. Other production companies eventually settled in the Los Angeles area in places such as Culver City, Burbank, and what would soon become known as Studio City in the San Fernando Valley.
			</p>

        </div>

    </div>
    
</div>
<!-- /.container -->
